//////////slider////////////
 .swiper-container {
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.swiper-slide {
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
	top: -40px;
	right: 15px;
	width: 40px;
	background: $color-gray;
	color: $color-blue;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	z-index: 3;

	body[color-sheme="blue"] & {
		color: $color-blue;
	}
	body[color-sheme="green"] & {
		color: $color-green;
	}
	body[color-sheme="orange"] & {
		color: $color-orange;
	}
	body[color-sheme="darker"] & {
		color: $color-darker;
	}
	&:hover {
		background: $color-blue;
		color: $color-white;

		body[color-sheme="blue"] & {
			background: $color-blue;
			color: #fff;
		}
		body[color-sheme="green"] & {
			background: $color-green;
			color: #fff;
		}
		body[color-sheme="orange"] & {
			background: $color-orange;
			color: #fff;
		}
		body[color-sheme="darker"] & {
			background: $color-darker;
			color: #fff;
		}
	}
}
.swiper-button-prev {
	left: auto;
	right: 70px;
}
.swiper-button-next:before{
	content: '\f105';
}
.swiper-button-prev:before {
	content: '\f104';
}
///////////slider////////////


.product-modal-galery {
	.swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 60%;
      width: 100%;
    }
    .gallery-thumbs {
      height: 40%;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      width: 33.3333333%;
      height: 100%;
      opacity: 1;
    }
    .gallery-thumbs .swiper-slide-active {
      opacity: 1;
    }

}
    